# Classroom Project Idea  

## Input
1. Put in a csv of answer key
2. Put in a csv of childrens answers
## Output  
1. Overall Stats  
2. Breakdown of each questions from hardest to easiest  
3. Information about each kid.

In [3]:
import pandas as pd
import numpy as np
import sympy

/var/folders/8z/0r4flbws2hg9zhxq_gn693740000gn/T/ipykernel_3651/2189696340.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
# Input Data
answer_key = pd.DataFrame({"Question": [1,2,3,4,5,6,7,8,9,10],
                          "Answer": ["C","A","D","B","A","C","D","A","A","A"]})
exams = pd.DataFrame({"Student": ["Betty", "Bruce", "Tyrone", "Mohammad","Joseph", "Apple", "Bianca"],
                      "Q1": ["C", "C", "D","C","A","D","C"],
                      "Q2": ["A","A","C","A","B","C","A"],
                      "Q3": ["D","D","A","D","B","D","D"],
                      "Q4": ["B","B","B", "A","C","D","B"],
                      "Q5": ["A","A","B","A","B","B","B"],
                      "Q6": ["C","B","C","C","C","B","A"],
                      "Q7": ["C","D","D","D","C","B","D"],
                      "Q8": ["A","A","A","A","B","B","A"],
                      "Q9": ["A", "B","B","C","A","A","B"],
                      "Q10": ["A","A","A","A","A","A","A"]})

In [5]:
def grade_students(exams, answer_key):
    """
    Grades each student based on the provided answer key.
    
    Parameters:
    - exams: DataFrame containing student answers.
    - answer_key: DataFrame containing the correct answers.
    
    Returns:
    - DataFrame with Student names and their respective grades.
    """
    # Initialize a list to store grades
    grades = []
    
    # Iterate through each row in the exams DataFrame
    for _, exam_row in exams.iterrows():
        score = 0  # Initialize score for the student
        
        # Compare each answer to the answer key
        for question_num in range(1, len(answer_key) + 1):
            # Construct column name for the question
            question_col = f"Q{question_num}"
            
            # Get the student's answer and the correct answer
            student_answer = exam_row[question_col]
            correct_answer = answer_key.loc[answer_key['Question'] == question_num, 'Answer'].values[0]
            
            # Increment score if the answers match
            if student_answer == correct_answer:
                score += 1
        
        # Append the score to the grades list
        grades.append(score)
    
    # Add the grades list as a new column to the exams DataFrame
    exams['Grade'] = grades
    
    return exams[['Student', 'Grade']]

# Grade each student
graded_students = grade_students(exams, answer_key)
graded_students

    Student  Grade
0     Betty      9
1     Bruce      8
2    Tyrone      5
3  Mohammad      8
4    Joseph      3
5     Apple      3
6    Bianca      7

In [6]:
def hardest_questions_with_common_mistakes(exams, answer_key):
    """
    Extends the hardest questions analysis to include the most common incorrect answer
    and the number of times it was chosen for each question.
    
    Parameters:
    - exams: DataFrame containing student answers.
    - answer_key: DataFrame containing the correct answers.
    
    Returns:
    - DataFrame with questions, number of correct answers, percentage of correct answers,
      most common incorrect answer, and the count of the most common incorrect answer,
      sorted by difficulty.
    """
    total_students = len(exams)
    question_difficulty = []

    # Iterate through each question
    for question_num in range(1, len(answer_key) + 1):
        question_col = f"Q{question_num}"
        correct_answer = answer_key.loc[answer_key['Question'] == question_num, 'Answer'].values[0]

        correct_count = exams[exams[question_col] == correct_answer].shape[0]
        correct_percentage = (correct_count / total_students) * 100

        # Identify the most common incorrect answer for the question
        # Exclude the correct answer and count occurrences of each incorrect answer
        incorrect_answers = exams[exams[question_col] != correct_answer][question_col]
        if not incorrect_answers.empty:
            most_common_incorrect = incorrect_answers.mode()[0]  # Get the most frequently occurring value
            most_common_incorrect_count = incorrect_answers[incorrect_answers == most_common_incorrect].count()
        else:
            most_common_incorrect = None
            most_common_incorrect_count = 0
        
        question_difficulty.append({
            "Question": question_num,
            "Correct Answers": correct_count,
            "Percentage Correct": correct_percentage,
            "Most Common Incorrect": most_common_incorrect,
            "Incorrect Count": most_common_incorrect_count
        })

    difficulty_df = pd.DataFrame(question_difficulty)
    difficulty_df = difficulty_df.sort_values(by=["Correct Answers", "Percentage Correct"], ascending=True)
    
    return difficulty_df.reset_index(drop=True)

# Identify the hardest questions with common mistakes
hardest_questions_with_mistakes_df = hardest_questions_with_common_mistakes(exams, answer_key)
hardest_questions_with_mistakes_df

,Question,Correct Answers,Percentage Correct,Most Common Incorrect,Incorrect Count
0,5,3,42.857143,B,4
1,9,3,42.857143,B,3
2,1,4,57.142857,D,2
3,2,4,57.142857,C,2
4,4,4,57.142857,A,1
5,6,4,57.142857,B,2
6,7,4,57.142857,C,2
7,3,5,71.428571,A,1
8,8,5,71.428571,B,2
9,10,7,100.000000,None,0

In [2]:
145 + 145 + 80 + 110 + 225 + 40 + 275 + 140 + 690 + 110 + 570 + 590 + 590 + 420

4130